[cite: 1] # ==========================================
# 1. 通用编译产物
# ==========================================
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.ko
*.mod.c
*.symvers
*.order
.tmp_versions/
.*.cmd

# ==========================================
# 2. Linux 编译出的应用二进制
# ==========================================
spi_test
central_gateway

# ==========================================
# 3. STM32 (Keil/CubeMX) 专属过滤
# ==========================================
*.uvguix.*
*.uvoptx
*/DebugConfig/
*/RTE/
*/Listings/
*/Objects/
*.bak
*.tmp

# ==========================================
# 4. IDE 与系统临时文件
# ==========================================
.vscode/
.history/
.DS_Store